@define-color noti-border-color #c0caf5;
@define-color noti-bg #1a1b26;
@define-color noti-bg-hover-alt #414868;
@define-color noti-bg-alt #414868;
@define-color noti-fg #c0caf5;
@define-color noti-bg-hover #7aa2f7;
@define-color noti-bg-focus #1a1b26;
@define-color noti-close-bg #bb9af7;
@define-color noti-close-bg-hover #f7768e;
@define-color noti-urgent #f7768e;
@define-color bg-selected #1a1b26;