[SddmGreeterTheme]
Name=Glyph SDDM
Description=A high-end Nothing Phone inspired SDDM theme with adaptive typography and obsidian glass aesthetics.
Author=xCaptaiN09
Copyright=(c) 2026 xCaptaiN09
License=MIT
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Screenshot=screenshot.png
X-SDDM-Theme-InterfaceVersion=2
