@import 'colors/cherry.css';

* {
    border: none;
    background: @bg0;
    /* background: rgba(20, 20, 20, 0.319); */
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;

    font-size: 14px;
    background: rgba(42, 36, 36, 0.518);

    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-left {
    margin-left: 8px;
}

.modules-right {
    margin-right: 8px;
}

tooltip {
    background: @bg0;
    border: 1px solid @fg1;
    border-radius: 0px;
}

tooltip label {
    color: @fg0;
    padding: 6px;
}

#workspaces {
    /* background-color: @bg0; */
    border-radius: 0px;
    padding: 5px 0px;
    color: @fg0;
    transition: all 0.3s ease-in-out;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
    transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
    opacity: 0.5;
}

#custom-pacman,
#power-profiles-daemon,
#cpu,
#memory,
#disk,
#clock,
#custom-spotify,
#pulseaudio,
#battery,
#custom-networkmanager,
#bluetooth,
#custom-notification {
    padding: 5 10px;
    border: none;
    box-shadow: none;
}

#cpu {
    color: @blue;
}
#memory {
    color: @blue;
}
#disk {
    color: @blue;
}

#clock {
    color: @blue;
}
#custom-spotify {
    color: @blue;
    /* background-color: @bg0; */
}
#pulseaudio {
    color: @blue;
}
#network {
    color: @blue;
}
#battery {
    color: @blue;
}

#bluetooth {
    color: @blue;
}

#custom-notification {
    color: @white;
    padding: 5px 10px;
}
#custom-exit {
    color: @red;
}

#power-profiles-daemon.performance {
    /* background-color: @bg0; */
    color: @blue;
}

#power-profiles-daemon.balanced {
    /* background-color: @bg0; */
    color: @blue;
}

#power-profiles-daemon.power-saver {
    /* background-color: @bg0; */
    color: @blue;
}

#custom-pacman {
    color: @blue;
}