@import 'colors/rxyhmn.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;    

    font-size: 13px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-center {
    background: transparent;
    /* padding: 1px 10px; */
    /* border-radius: 38px; */
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}

window#waybar {
    background: transparent;
}


tooltip {
    background: @bg0;
    border: 1px solid @fg1;
    border-radius: 12px;
}

tooltip label {
    color: @fg0;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    border: 1px solid @bg0;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: @fg2;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(
        135deg,
        @blue,
        @purple,
        @red
    );
    color: @bg0;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#cpu,
#memory,
#disk,
#tray,
#clock,
#custom-spotify,
#pulseaudio,
#battery,
#custom-networkmanager,
#bluetooth,
#custom-notification,
#custom-exit {
    background-color: @bg0;
    padding: 0 5px;
    border: none;
    box-shadow: none;
}

#cpu {
    color: @green;
    padding: 5px 10px;
    border-radius: 38px 0px 0px 38px;
}
#memory {
    color: @green;
    padding: 5px 10px;
}
#disk {
    color: @green;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 0px 38px 38px 0px;
}

#clock {
    color: @white;
    border-radius: 38px 0px 0px 38px;
}
#custom-spotify {
    color: @green;
}
#pulseaudio {
    color: @yellow;
}
#network {
    color: @purple;
}
#battery {
    color: @green;
}
#custom-networkmanager {
    border-radius: 0px 38px 38px 0px;
}
#bluetooth {
    color: @blue;
}

#tray {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 38px;
}
#custom-notification {
    color: @blue;
    padding: 5px 10px;
}
#custom-exit {
    color: @red;
    padding: 5px 10px;
    border-radius: 0px 38px 38px 0px;
}