@import 'colors/rxyhmn.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Rubik", "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;    

    /* font-size: 16px; */

    min-height: 0;
    padding: 0;
    margin: 0;
}

.modules-center {
    background: @bg0;
    padding: 6px 12px;
    border-radius: 28px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

window#waybar {
    background: transparent;
}

/* #waybar > box {
    padding: 4px 9px;
} */

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0px 0 12px;
    border-radius: 18px;
    border: 1px solid @bg0;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: @fg2;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(
        135deg,
        @blue,
        @purple,
        @red
    );
    color: @bg0;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#tray,
#battery,
#custom-spotify,
#pulseaudio,
#bluetooth,
#custom-networkmanager,
#clock,
#cpu,
#custom-appmenu,
#custom-exit,
#custom-notification {
    background-color: @bg0;
    padding: 0 8px;
    margin: 0 5px;
    border-radius: 0;
    border: none;
    box-shadow: none;
}

#custom-appmenu {
    color: @blue;
    margin: 0;
}

#custom-spotify {
    color: @green;
    margin: 0 0 0 10px;
}

#bluetooth {
    color: @blue;
}

#clock {
    color: @blue;
    margin: 0;
}

#custom-notification {
    color: @blue;
}

#pulseaudio {
    color: @yellow;
}

#cpu {
    color: @green;
}

#network {
    color: @purple;
}

#custom-exit {
    color: @red;
    margin: 0 0 0 0px;
}

#battery {
    color: @green;
}

