@import 'colors/rxyhmn.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;    

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: @bg0;
    border-radius: 18px;
}

tooltip {
    background: @bg0;
    border: 1px solid @bg3;
    border-radius: 12px;
}

tooltip label {
    color: @fg;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    padding: 5px 3px;
    margin: 0 0 0 12px;
    border-radius: 18px;
    border: 1px solid @bg0;
    color: @fg;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    border-radius: 50px;
    color: transparent;
    background-color: @bg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @blue;
    color: @bg0;
    min-width: 25px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @purple;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 16px;
    min-width: 25px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#tray,
#battery,
#pulseaudio,
#bluetooth,
#custom-networkmanager,
#clock,
#cpu,
#disk,
#custom-appmenu,
#custom-exit,
#custom-notification {
    background-color: @bg0;
    padding: 0 10px 0 10px;
    margin: 0 0 0 0px;
    border-radius: 50px;
}

#custom-appmenu {
    color: @blue;
}

#bluetooth {
    color: @blue;
}

#clock {
    color: @blue;
}

#custom-notification {
    color: @blue;
}

#pulseaudio {
    color: @yellow;
}

#disk {
    color: @yellow;
}

#network {
    color: @purple;
}

#custom-exit {
    color: @red;
    margin: 0 0 0 0px;
}

#battery {
    color: @green;
}
