@import 'colors/cherry.css';

* {
    border: none;
    border-radius: 0px;

    font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
    font-weight: bold;    

    font-size: 14px;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: transparent;
}

tooltip {
    background: @bg0;
    border: 1px solid @fg1;
    border-radius: 12px;
}

tooltip label {
    color: @fg0;
    padding: 6px;
}

#workspaces {
    background-color: @bg0;
    border-radius: 0px;
    padding: 5px 10px;
    color: @fg;
    /* margin: 0px 5px 0px 5px; */
}

#workspaces button {
    padding: 1px 5px;
    color: @fg1;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: linear-gradient(
        135deg,
        @blue,
        @purple,
        @red
    );
    color: @bg0;
    min-width: 30px;
    border-radius: 38px;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button:hover {
    background-color: @white;
    color: @bg0;
    border-radius: 38px;
    min-width: 30px;
    background-size: 400% 400%;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg0;
    border-radius: 0px;
    min-width: 25px;
    background-size: 400% 400%;
    transition: all 0.3s ease-in-out;
}

#custom-aur,
#custom-pacman,
#custom-wireguard,
#cpu,
#memory,
#disk,
#tray,
#clock,
#custom-spotify,
#pulseaudio,
#battery,
#custom-networkmanager,
#bluetooth,
#custom-notification,
#custom-expand-icon,
#custom-exit {
    background-color: @bg0;
    padding: 5 10px;
    border: none;
    box-shadow: none;
}

#cpu {
    color: @fg0;
    /* padding: 5px 10px; */
    /* border-radius: 38px 0px 0px 38px; */
}
#memory {
    color: @fg0;
    /* padding: 5px 10px; */
}
#disk {
    color: @fg0;
    /* padding: 5px 10px; */
}

#clock {
    color: @white;
    border-radius: 16px 0px 0px 16px;
}
#custom-spotify {
    color: @white;
    background-color: @bg0;
}
#pulseaudio {
    color: @orange;
}
#network {
    color: @purple;
}
#battery {
    color: @green;
}

#bluetooth {
    color: @blue;
}

#tray {
    color: white;
}
#custom-notification {
    color: @white;
    padding: 5px 10px;
    border-radius: 0px 16px 16px 0px;
}
#custom-exit {
    color: @red;
}

#power-profiles-daemon.performance {
    background-color: @red;
    color: @bg0;
    padding: 5px 10px;
}

#power-profiles-daemon.balanced {
    background-color: @yellow;
    color: @bg0;
    padding: 5px 10px;
}

#power-profiles-daemon.power-saver {
    background-color: @green;
    color: @bg0;
    padding: 5px 10px;
}

#custom-expand-icon {
    color: white;
    padding: 5px 10px;
}

#custom-aur {
    color: #a6e3a1;
}

#custom-pacman {
    color: @yellow;
}

#custom-aur.updated {
    color: #a6e3a1; /* green */
}

#custom-pacman.updates {
    color: #f38ba8; /* red/pink */
    font-weight: bold;
}

#custom-wireguard.connected {
    color: #a6e3a1; /* green */
}

#custom-wireguard.disconnected {
    color: @red; /* red */
}